<%= render "activities/navbar" %>

<% @activities.each do |activity| %>
  <%= link_to activity_path(activity), style: "text-decoration: none" do %>
    <div class="h-24 border-b border-slate-300">
      <div class="flex justify-between h-full mx-5">
        <div class="flex flex-col flex align-center my-auto">
          <p class="font-medium text-lg"><%= activity.title %></p>
          <p class="text-slate-600"><%= !activity.description.empty? ? activity.description : "Pas de description" %></p>
        </div>
        <div class="flex align-center my-auto">
          <p><%= activity.category %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to new_activity_path do %>
  <div class="fixed bottom-5 right-5 flex align-center rounded-full bg-primary w-16 h-16">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-full h-full p-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </div>
<% end %>